include LICENSE
include README.md
include Philoignore/templates/*.gitignore
include Philoignore/templates/*.patch
include Philoignore/*.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.gitignore *.patch
